*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: silver;
}
ul {
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}
li {
	padding: 10px;
  font-size: 16pt;
}

input:hover {
  background-color: red;
}

hr {
	width: 50%;
	margin-left: 10px;
}
.header {
	border-bottom: 10px solid black;
}
.header img {
	width: 100%;
	margin-bottom: -5px;
}

.leftColumn {
	width: 70%;
	height: 700px;
	background-color: #fff;
	float: left;
	position: relative;
	background-image: url('../img/LiveFastDieCREW125.jpg');
  background-repeat: no-repeat;
  background-size:contain;
}


.rightColumn {
	width: 30%;
	height: 100%;
	background-color: silver;
	float: right;
}
.footer {
	clear: both;
	background-color: black;
	height: 200px;
}
.thumbnail img {
	width: 125px;
	height: 125px;
	object-fit: cover;
	display: inline-block;
	float: left;
	margin: 40px 10px 0 30px;
	border-radius: 10px;
}

.skull {
	position: absolute;
	bottom: 450px;
	left: 685px;
}
.talkBubble {
	position: absolute;
	bottom: 530px;
	left: 580px;
}
.form {
  width: 285px;
	padding-top: 200px;
	display: block;
	margin: 0 auto;

}

#question {
  width: 267px;
}

#addToCart {
  width: 150px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 10pt;
  color: white;
}

#addToCart:hover {
  background-color: gold;
  color: black;
}
