*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	background-color: silver;
}
ul {
	display: block;
	margin: 0 0 0 2px;
	padding-top: 50px;
}
li {
	padding: 10px;
  font-size: 16pt;
	list-style-type: none;
}

input:hover {
  background-color: red;
}

hr {
	width: 200px;
	margin-left: 40px;
	margin-top: 75px;
}
.header {
	border-bottom: 10px solid black;

}
.header img {
	width: 100%;
	margin-bottom: -5px;
}

.leftColumn {
	width:900px;
	height: 1000px;
	background-color: #fff;
	float: left;
	position: relative;
	background-image: url('../img/LiveFastDieCREW125.jpg');
  background-repeat: no-repeat;
  background-size:contain;
	background-position: center;

}


.rightColumn {
	width: 200px;
	height:1000px;
	background-color: silver;
	float: left;
	/*margin-bottom: 20px;*/
}
.footer {
	clear:both;
	background-color: black;
	height: 200px;
}
.thumbnail img {
	width: 125px;
	height: 125px;
	object-fit: cover;
	display: inline-block;
	float: left;
	margin: 40px 10px 0 30px;
	border-radius: 10px;
}

.skull {
	position: absolute;
	bottom: 750px;
	left: 685px;
}
.talkBubble {
	position: absolute;
	bottom: 830px;
	left: 580px;
}
.form {
  width: 285px;
	padding-top: 75px;
	padding-left: 40px;
	display: block;
	margin: 0 auto;

}

#question {
  width: 267px;
	margin-top: 5px;
}

#addToCart {
  width: 150px;
  height: 30px;
  background-color: red;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
	margin-left: 35px;
  font-size: 10pt;
  color: white;
}

#addToCart:hover {
  background-color: gold;
  color: black;
}

#submit {
	background-color: red;
	color: white;
	border-radius: 10px;
	border: none;
	margin-top: 10px;

}


#submit:hover {
	background-color: gold;
  color: black;

}
/*#submit {
	margin-bottom: 200px;
}*/
