*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

$color: 	#d36154;

body, html {
  margin: 0;
  padding: 0;
  background-color: silver;
}

.header {
    border-bottom: 10px solid hotpink;
}

.header img {
  width: 750px;
}

.wrapper {
  width: 750px;
  margin: 0 auto;
  background-color: orange;

}

.leftColumn {
  width: 500px;
  background-color: pink;
  float: left;

}

.rightColumn {
  width: 250px;
  background-color: tomato;
  float: right;
}

.footer {
  clear: both;
  background-color: black;
}
